html, body{
    width: 100%;
    height: 100%;
    background-color: #f5f0db;
    overflow: hidden;
}

.fullpage {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f0db;
    opacity: 1;
    transition: opacity 1s ease-in-out; 
}

.fullpage img {
  cursor: pointer;
}

.start-icon {
  width: 30%;
}

.github-icon {
  width: 5%;
}


 