
.fullpage {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background-color: #f5f0db;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
}

.fullpage img {
  cursor: pointer;
}

.start-icon {
  width: 30%;
}

.other-icon {
  width: 10%;
}

@media screen and (max-width: 600px) {
  .start-icon {
    width: 75%;
  }
  .github-icon {
    width: 10%;
  }
  
}


 
