.detailsContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
    
.detailsBox {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
    width: 75%;
    max-width: 90%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 600px;
    overflow-y: hidden;
    gap: 15px;
}
  
.fermerButton {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #f1807e;
}

.detailsTabs{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 15px;
}


  
@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@media screen and (max-width: 1100px) {

    .detailsTabs {
        flex-direction: column;
        gap: 15px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        max-height: 100%;
        align-items: center;
    }

    .detailsTabs::-webkit-scrollbar {
        display: none;
    }

    .detailsBox {
        width: 85%;
        gap: 5px;
        display: flex;
        align-items: center;
        overflow-x: hidden;
    }

    .scoreTableau {
        width: 90%; 
        text-align: center;
    }
}

