services:
  frontend:
    image: samyeuh/yhtz-frontend:latest
    container_name: yhtz-frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend
    env_file:
      - .env 

  backend:
    image: samyeuh/yhtz-backend:latest
    container_name: yhtz-backend
    build:
      context: ./back
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - .env