.saveContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Assure un fond légèrement assombri */
  z-index: 999;
}
  
.saveBox {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
  width: 75%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 600px;
  overflow-y: auto;
  gap: 15px;
}

.saveButton {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: lightblue;
  transition: all 0.2s ease;
}

.saveButton:active {
  transform: scale(0.96);
}

.saveButton:before,
.saveButton:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.saveButton:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, lightblue, 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, lightblue 20%, transparent 30%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, lightblue 15%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

.scoreTableau {
  width: 50%;
}

.fermerButton {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #f1807e;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}


@media screen and (max-width: 600px) {

  .saveBox{
    width: 90%;
    gap: 5px;
  }

  .scoreTableau {
    width: 100%;
  }
  
}