/* LoadingPage.css */
.loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f0db; /* Fond de la page */
    opacity: 1;
    transition: opacity 1s ease-in-out;  /* Transition pour le fade-out */
  }
  
  .loading-page.fade-out {
    opacity: 0;  /* L'élément se fondra lorsqu'on ajoute la classe fade-out */
  }
  
  .loading-page img {
    width: 507px;
    height: 78px;
  }
  