.loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f0db;
    opacity: 1;
    transition: opacity 1s ease-in-out; 
  }
  
  .loading-page.fade-out {
    opacity: 0; 
  }
  
  .loading-page img {
    width: 30%;
  }

  @media screen and (max-width: 600px) {
    .loading-page img {
      width: 75%;
    }
    
  }
  