apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: yahtzee
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: yhtz-frontend
        image: samyeuh/yhtz-frontend:latest
        ports:
        - containerPort: 80