.rulesContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Assure un fond légèrement assombri */
  z-index: 999;
}

.rulesBox {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
  width: 75%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 600px; /* Adjust the height as needed */
  overflow-y: auto;
  padding: 10px; /* Optional: Add padding for better spacing */
}
  .rollButton {
    background-color: white;
    --e: #add8e6;
    --ee: #73bdd6;
    --eee: #654dff63;
    cursor: pointer;
    width: 92px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
    background: var(--e);
    border: 2px solid var(--ee);
    border-radius: .75rem;
    box-shadow: 0 8px 0 var(--ee);
    transform: skew(-10deg);
    transition: all .1s ease;
    /* filter: drop-shadow(0 15px 20px var(--eee)); */
    pointer-events: auto;
    margin-left: 5px
  }
  
  .rollButton:active {
    letter-spacing: 0px;
    transform: skew(-10deg) translateY(8px);
    box-shadow: 0 0 0 var(--eee);
  }
  
  .rollButton:hover {
    background: var(--e);
    border: var(--eee)
  }
  
  .fakeDice {
    width: 10%;
  }

  /* From Uiverse.io by zjssun */ 
.closeButton {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: lightblue;
  transition: all 0.2s ease;
}

.closeButton:active {
  transform: scale(0.96);
}

.closeButton:before,
.closeButton:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.closeButton:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, lightblue 20%, transparent 30%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, lightblue 15%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.closeButton:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, lightblue 15%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%),
    radial-gradient(circle, lightblue 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}