@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


table {
    width: 500px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  
  th,
  td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
  }

  .combi {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }  
  th {
    text-align: center;
  }
  
  thead {
    th {
      background-color: #55608f;
    }
  }

  .score{
    text-align: center;
  }